body {
    margin: 0;
    padding: 0;
}

/* 首頁 */
header {
    background-image: url("../assets/Kodak_UltraMax_053.jpg");
    background-size: cover;
}

/* navigator */
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.5s;
    font-size: 18px;
}

nav a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;    
}

/* 以下code勿碰 */

div #img16 img {
    display: inline;
    margin: 5px;
    width: 500px;
    border: 1px solid #ffffff;
}

div #img17 img {
    display: inline;
    margin: 5px;
    width: 500px;
    border: 1px solid #ffffff;
}

body {
    min-height: 100vh;
  }

/* 以上code勿碰 */
