body {
    background-color: #fffafa;
    padding: 0;
    margin: 0;
}

/* Back to Top*/
#BackToTop a {
    text-decoration: none;
    opacity: 0.5;
    color: chocolate;
    border-radius: 10px;
}

#BackToTop a:hover {
    opacity: 0.8;
}

/* 高屏行 */
header {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4740.jpg");
    font-family: serif;
}

.mpt2w {
    text-indent: 32px;
}

.writing-table {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 60px;
}

.bgWithImage {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;
    width: auto;
}

figure img {
    width: 100%;
    border: 1px solid #dddddd;
    height: auto;
    padding: 5px;
}

figcaption {
    text-shadow: 3px 3px 3px gray;
    font-family: serif;
    letter-spacing: 2px;
}

#Day1_1 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4367.jpg");
}

#Day2_1 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4506.jpg");
}

#Day2_1_1 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4383.jpg");
}

#Day2_1_2 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4427.jpg");
}

#Day2_1_3 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4458.jpg");
}

#Day2_2 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4460.jpg");
}

#Day2_2_1 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4428.jpg");
}

#Day2_2_2 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4481.jpg");
}

#Day2_3 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4541.jpg");
}

#Day2_3_1 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4580.jpg");
}

#Day3_1 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4687.jpg");
}

#Day3_2 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4761.jpg");
}

#Day3_3 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4698.jpg");
}

#Day3_4 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4707.jpg");
}

#Day3_5 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4717.jpg");
}

#Day3_6 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4728.jpg");
}

#Day3_7 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4719.jpg");
}

#Day3_8 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4721.jpg");
}

#Day3_9 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4737.jpg");
}

#Day3_10 {
    background-image: url("../assets/KaohsiungPingtung_trip_2021/DSC4738.jpg");
}