/* 環境 */
body {
    background-color: #fffafa;
    padding: 0;
    margin: 0;
}

/* dd {
    margin-left: 2em;
} */


/* 首頁 */
header {
    background-image: url("../assets/Kodak_UltraMax_053.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* opacity: 0.5; */
}


/* navigator */
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.5s;
    font-size: 18px;
}

nav a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;    
}


/* Back to Top*/
#BackToTop a {
    text-decoration: none;
    opacity: 0.5;
    color: chocolate;
    border-radius: 10px;
}

#BackToTop a:hover {
    opacity: 0.8;
}


/* main */

/* 測試區 */
#TestTestTest [class*="col"] {
    background-color: #ebdef0;
    border: 0.5px solid purple;
    text-align: center;
}

#Bootstrap_Test [class*="col"] {
    background-color: #ebdef0;
    border: 0.5px solid purple;
    text-align: center;
}

/* trip */
#trip img {
    margin: 5px;
    width: 100%;
    border: 1px solid #ffffff;
    box-shadow: 5px 5px 3px gray;
}


/* footer */
