body {
    margin: 0;
    padding: 0;
}


/* 首頁 */
header {
    background-image: url("https://raw.githubusercontent.com/quanting56/personal_page/main/assets/???.jpeg");
}

#heading {
    position: relative;
    top: 5vh;
    text-align: center;
    font-weight: bold;
}

/* 導言 */
#introduction {
    height: 250vh;
    background-image: url("https://raw.githubusercontent.com/quanting56/KeelungMRT_Xizhi/main/assets/xizhi_landscape_temporary.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 以下code勿碰 */

#benefits_for_keelung div:first-child {
    background-image: url("https://raw.githubusercontent.com/quanting56/KeelungMRT_Xizhi/main/assets/keelung_night_temporary.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#benefits_for_xizhi div:first-child {
    background-image: url("https://raw.githubusercontent.com/quanting56/KeelungMRT_Xizhi/main/assets/xizhi_night_temporary.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#benefits_for_taipei_city div:first-child {
    background-image: url("https://raw.githubusercontent.com/quanting56/KeelungMRT_Xizhi/main/assets/taipei_night_temporary.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div #img16 img {
    display: inline;
    margin: 5px;
    width: 500px;
    border: 1px solid #ffffff;
}

div #img17 img {
    display: inline;
    margin: 5px;
    width: 500px;
    border: 1px solid #ffffff;
}

body {
    min-height: 100vh;
  }

/* 以上code勿碰 */
