body {
    background-color: #eeeeee;
}

.accordion-body p {
    font-size: 14px;
}

.accordion-body li {
    font-size: 14px;
}

.accordion-body th {
    font-size: 14px;
}

.accordion-body td {
    font-size: 14px;
}