body {
    font-family: Arial, sans-serif;
    background-color: #020202;
    color: #f5f5f5;
}

/* Banner */


/* Article */
.road-article-title a,
.road-article-title a:link,
.road-article-title a:visited,
.road-article-title a:active {
    color: #ffffff;
    text-decoration: none;
}

.road-article-title a:hover {
    color: #dddddd;
}

.road-article-subtitle {
    margin-bottom: 0;
    font-size: 12px;
    color: #9c9c9c;
}

.road-article-text {
    margin-top: 60px;
    margin-bottom: 60px;
}

.road-article-text a,
.road-article-text a:link,
.road-article-text a:visited,
.road-article-text a:active {
  color: #a67a44;
  -webkit-text-decoration: none;
  text-decoration: none;
  border-bottom: 1px solid #d8d8d8;
  margin-left: 5px;
  margin-right: 5px;
}

.road-article-text a:hover {
  border-bottom: 1px solid #a67a44;
}

.section {
    padding: 60px;
}

.map-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#commentsList li {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


/* footer */
footer h5 {
    color: #ffffff;
}

footer p {
    font-size: 14px;
    color: #eeeeee;
}

footer a {
    font-size: 16px;
    color: #eeeeee;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
    transform: translateY(-1.5px);
    transition: transform 0.2s ease-in-out;
}