<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Title -->
    <title>阿蛤ㄉ窩 - 網頁練習</title>
    <link rel="icon" href="favicon/favicon-v1.0.png" type="images/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap_5.3.3_css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap_icons-main/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="css/font_awesome_v6.5.2_all.css" type="text/css" />
    <link rel="stylesheet" href="css/animate_v4.1.1_min.css">
    <link rel="stylesheet" href="css/vs2015_min.css">
    <link rel="stylesheet" href="css/main.css"/>

    <!-- jQuery -->
    <script src="js/jquery_v3.7.1_min.js"></script>
    <!-- Bootstrap Bundle JS -->
    <script src="js/bootstrap_5.3.3_js/bootstrap.bundle.min.js"></script>
    <script src="js/d3_v7.9.0_min.js"></script>
    <script src="js/wow_v1.1.3_min.js"></script>
    <script src="js/highlight_min.js"></script>
    <script src="js/script.js"></script>

    <!-- 啟用 Highlight.js -->
    <script>hljs.highlightAll();</script>  

    <!-- Tooltip引用統計學頁面，需以latex渲染數學公式 -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <!-- 引入Vue 3.x -->
    <script src="https://unpkg.com/vue@3"></script>
  </head>

  <body>
    
    <div class="mx-3 my-5">
      <h2>表單綁定：v-model</h2>
      <ul>
        <li>
          <div id="app11">
            <input type="checkbox" id="checkbox" v-model="isChecked"><br>
            <label for="checkbox">Status: {{ isChecked }}</label>
          </div>
          <script>
            const vm11 = Vue.createApp({
              data() {
                return {
                  isChecked: false
                }
              }
            }).mount("#app11");
          </script>
        </li>
        <li>
          <h3>select下拉式選單</h3>
          <div id="app12">
            <!-- 注意，v-model要放在select而不是option -->
            <select v-model="selected">
              <!-- 第一個選項設定為disabled的好處是可以保證使用者不會送出此預設值 -->
              <option disabled value="">請選擇</option>
              <option value="臺北市">臺北市</option>
              <option value="新北市">新北市</option>
              <option value="基隆市">基隆市</option>
            </select>
            <p>現在選到的行政區是 {{ selected || '未選擇'}}</p>
          </div>
          <script>
            const vm12 = Vue.createApp({
              data() {
                return {
                  selected: ""
                }
              }
            }).mount("#app12");
          </script>
        </li>
      </ul>
    </div>
    <div class="mx-3 my-5">
      <h2>v-model與修飾子</h2>
      <ul>
        <li>
          <h3>.lazy</h3>
          <div id="app13">
            <input v-model.lazy="message13" placeholder="edit me">
            <p>Message is: {{ message13 }}</p>
          </div>
          <script>
            const vm13 = Vue.createApp({
              data() {
                return {
                  message13: ""
                }
              }
            }).mount("#app13");
          </script>
        </li>
        <li>
          <h3>.number</h3>
          <div id="app14">
            <input v-model="message14a"> + <input v-model="message14b"> = {{ stringSum }}<br>
          </div>
          <div id="app15">
            <input v-model.number="message15a"> + <input v-model.number="message15b"> = {{ numberSum }}
          </div>
          <script>
            const vm14 = Vue.createApp({
              data() {
                return {
                  message14a: 0,
                  message14b: 0
                }
              },
              computed: {
                stringSum() {
                  return this.message14a + this.message14b;
                }
              }
            }).mount("#app14");

            const vm15 = Vue.createApp({
              data() {
                return {
                  message15a: 0,
                  message15b: 0
                }
              },
              computed: {
                numberSum() {
                  return this.message15a + this.message15b;
                }
              }
            }).mount("#app15");
          </script>
        </li>
        <li>
          <h3>.trim</h3>
          <div id="app16">
            <textarea v-model.trim="message16"></textarea>
            <p>產出結果為： <pre>{{ message16 }}</pre></b></p>
          </div>
          <script>
            const vm16 = Vue.createApp({
              data() {
                return {
                  message16: ""
                }
              }
            }).mount("#app16");
          </script>
        </li>
        <li>
          <h3>v-text與v-html</h3>
          <div id="app17">
            <div v-text="text"></div>
            <div v-html="text"></div>
          </div>
          <script>
            const vm17 = Vue.createApp({
              data() {
                return {
                  text: "<h3>Hello World!</h3>"
                }
              }
            }).mount("#app17");
          </script>
        </li>
        <li>
          <h3>v-once</h3>
          <div id="app18">
            <input v-model="text">
            <div>{{ text }}</div>
            <div v-once>{{ text }}</div>
          </div>
          <script>
            const vm18 = Vue.createApp({
              data() {
                return {
                  text: "Hello World"
                }
              }
            }).mount("#app18");
          </script>
        </li>
        <li>
          <h3>v-pre</h3>
          <div id="app19">
            <!-- 加上v-pre後不會解析模板內容，直接顯示{{ text }} -->
            <div v-pre>{{ text }}</div>

            <!-- 將{{ text }}轉換為text的內容 -->
            <div>{{ text }}</div>
          </div>
          <script>
            const vm19 = Vue.createApp({
              data() {
                return {
                  text: "v-pre測試內容"
                }
              }
            }).mount("#app19");
          </script>
        </li>
      </ul>
    </div>
    <div class="mx-3 my-5">
      <h2>樣式綁定</h2>
      <h3>控制class</h3>
      <div id="app20">
        <input type="text" v-model.trim="message20" v-bind:class="{ 'error': message20.length > 10 }">
      </div>
      <style>
        .error {
          border: red solid 1px;
          color: red;
        }
      </style>
      <script>
        const vm20 = Vue.createApp({
          data() {
            return {
              message20: ""
            }
          }
        }).mount("#app20");
      </script>
      <h3>控制多組class</h3>
      <div id="app21">
        <input type="text" v-model.trim="message21" v-bind:class="{ 'active': isActive, 'text-danger': hasError }">
      </div>
      <style>
        .active {
          border: gray dashed 1px;
          color: blue;
        }
        .hasError {
          border: red solid 1px;
          color: red;
        }
      </style>
      <script>
        const vm21 = Vue.createApp({
          data() {
            return {
              message21: "",
              isActive: true,
              hasError: false
            }
          },
          watch: {
            message21(newValue ){
              if ( newValue.length <= 5 ) {
                this.isActive = true;
                this.hasError = false;
              } else {
                this.isActive = false;
                this.hasError = true;
              }
            }
          }
        }).mount("#app21");
      </script>
      <h3>直接操作style屬性</h3>
      <div id="app22">
        <input type="text" v-model.trim="message22" placeholder="請勿超過10個字" :style="msgStyle">
      </div>
      <script>
        const vm22 = Vue.createApp({
          data() {
            return {
              message22: ""
            }
          },
          computed: {
            msgStyle() {
              return {
                'border': this.message22.length <= 10 ? "" : "red solid 1px",
                'color': this.message22.length <= 10 ? "" : "red"
              }
            }
            // 待完成
          }
        }).mount("#app22");
      </script>
    </div>
    <div class="mx-3 my-5">
      <h2>事件處理</h2>
      <h3>事件綁定：v-on</h3>
      <div id="app23">
        <p>Count: {{ count }}</p>
        <button v-on:click="count++">Plus</button>
      </div>
      <script>
        const vm23 = Vue.createApp({
          data() {
            return {
              count: 0
            }
          }
        }).mount("#app23");
      </script>

      <!-- 以下寫法與上面相同 -->
      <div id="app24">
        <p>Count: {{ count }}</p>
        <button v-on:click="plus">Plus</button>
      </div>
      <script>
        const vm24 = Vue.createApp({
          data() {
            return {
              count: 0
            }
          },
          methods: {
            plus() {
              this.count++;
            }
          }
        }).mount("#app24");
      </script>
      <h3>鍵盤修飾子</h3>
      <div id="app25">
        <input type="text" placeholder="輸入任意文字後按下Enter鍵" v-model.trim="keyboardModifiers" @keydown.enter="addToMessages">
      </div>
      <script>
        const vm25 = Vue.createApp({
          data() {
            return {
              keyboardModifiers: ""
            }
          },
          methods: {
            addToMessages() {
              alert("hello world\n" + this.keyboardModifiers );
            }
          }
        }).mount("#app25");
      </script>
      <div class="mx-3 my-5">
        <h2>條件判斷與列表渲染</h2>
        <h3>條件判斷v-show</h3>
        <div id="app26">
          <button @click="toggleVisibility">切換顯示/隱藏</button>
          <p v-show="isVisible">這段文字會根據 `isVisible` 變數的值顯示或隱藏。</p>
        </div>
        <script>
          const vm26 = Vue.createApp({
            data() {
              return {
                isVisible: true // 控制顯示/隱藏
              }
            },
            methods: {
              toggleVisibility() {
                this.isVisible = !this.isVisible; // 切換 isVisible 的值
              }
            }
          }).mount("#app26");
        </script>
        <h3>條件判斷v-if</h3>
        <div id="app27">
          <button @click="changeVisibility">切換段落</button>
          <template  v-if="visibility === 'A'">
            <h4>Title A</h4>
            <p>Paragraph A - 1</p>
            <p>Paragraph A - 2</p>
          </template>
          <template v-else>
            <h4>Title B</h4>
            <p>Paragraph B - 1</p>
            <p>Paragraph B - 2</p>
          </template>
        </div>
        <script>
          const vm27 = Vue.createApp({
            data() {
              return {
                visibility: "A"
              }
            },
            methods: {
              changeVisibility() {
                if(this.visibility == "A") {
                  this.visibility = "B";
                } else {
                  this.visibility = "A";
                }
              }
            }
          }).mount("#app27");
        </script>
      </div>
    </div>
    <div class="mx-3 my-5">
      <h2>v-for列表渲染</h2>
      <h3>v-for與陣列</h3>
      <div id="app28">
        <ul>
          <h4>item in arr:</h4>
          <li v-for="item in arr">{{ item }}</li>
          <br>
          <h4>(item, index) in arr:</h4>
          <li v-for="(item, index) in arr">{{ index }} -&gt; {{ item }}</li>
        </ul>
      </div>
      <script>
        const vm28 = Vue.createApp({
          data() {
            return {
              arr: ['008', 'js', 'is', 'awesome']
            }
          }
        }).mount("#app28")
      </script>
      <h3>v-for與物件</h3>
      <div id="app29">
        <ul>
          <h4>item</h4>
          <li v-for="value in fishBurger">{{ value }}</li>
          <h4>key: value</h4>
          <li v-for="(value, key) in fishBurger">{{ key }}: {{ value }}</li>
          <h4>index -&gt; key: value</h4>
          <li v-for="(value, key, index) in fishBurger">{{ index }} -&gt; {{ key }}: {{ value }}</li>
        </ul>
      </div>
      <script>
        const vm29 = Vue.createApp({
          data() {
            return {
              fishBurger: {
                Calories: '508 Kcal',
                Protein: '20.5 g',
                Fat: '28.7 g',
                Carbonhydrates: '39.6 g',
                Sodium: '608.0 mg'
              }
            }
          }
        }).mount("#app29");
      </script>
      <h3>v-for與數字範圍</h3>
      <ul id="app30" class="pagination">
        <li class="page-item"><a class="page-link">&lt;</a></li>
        <!-- 會從 1 ~ 10 出現十次<li> -->
        <li class="page-item" v-for="page in 10">
          <a class="page-link" href="#">{{ page }}</a>
        </li>
        <li class="page-item"><a class="page-link">&gt;</a></li>
      </ul>
      <script>
        const vm30 = Vue.createApp().mount("#app30");
      </script>
      <h3>v-for與&lt;template&gt;</h3>
      <!-- 加 style="display: inline;" 是因為 class="dropdown-menu" 預設 display: none -->
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">個人連結</button>
        <ul id="app31" class="dropdown-menu">
          <template v-for="i in links">
            <li><div class="dropdown-divider"></div></li>
            <li><a class="dropdown-item" :href="i.link" target="_blank">{{ i.name }}</a></li>
          </template>
        </ul>
      </div>
      <script>
        const vm31 = Vue.createApp({
          data() {
            return {
              links: [
                { name: "Instagram", link: "https://www.instagram.com/ting.d_927"},
                { name: "Facebook", link: "https://www.facebook.com/guanting.dong"},
                { name: "Line", link: "https://line.me/ti/p/fOtvr_KEbv"},
              ]
            }
          }
        }).mount("#app31");
      </script>
      <h3>v-for列表的過濾</h3>
      <div id="app32">
        <div :id="'app32-' + i" v-for="i in evenNumbers">{{ i }}</div>
      </div>
      <script>
        const vm32 = Vue.createApp({
          data() {
            return {
              numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            }
          },
          computed: {
            // 只顯示偶數
            evenNumbers() {
              return this.numbers.filter(num => num % 2 === 0);
            }
          }
        }).mount("#app32");
      </script>
      <h3>v-for列表的排序</h3>
      <div id="app33">
        <div :id="'app33-' + i" v-for="i in sortedNumbers">{{ i }}</div>
      </div>
      <script>
        const vm33 = Vue.createApp({
          data() {
            return {
              numbers: [3, 5, 2, 6, 1, 9, 8, 7]
            }
          },
          computed: {
            sortedNumbers() {
              return [...this.numbers].sort((a, b) => a - b);
            }
          }
        }).mount("#app33");
      </script>
      <h3>v-for可以使用index當作key嗎？（以Todo list為例）</h3>
      <div id="app34">
        <!-- Todo list -->
        <h4>Todo</h4>
        <ul>
          <li v-for="i in todoLists" :key="i.id">
            <label><input type="checkbox" v-model="i.isDone">{{ i.title }}</label>
          </li>
        </ul>

        <!-- Done List -->
        <h4>Done</h4>
        <ul>
          <li v-for="i in doneLists" :key="i.id">
            <label><input type="checkbox" v-model="i.isDone">{{ i.title }}</label>
          </li>
        </ul>
      </div>
      <script>
        const vm34 = Vue.createApp({
          data() {
            return {
              lists: [
                {
                  id: "task001",
                  title: "洗澡",
                  isDone: false
                },
                {
                  id: "task002",
                  title: "吃晚餐",
                  isDone: false
                },
                {
                  id: "task003",
                  title: "記錄飲食",
                  isDone: false
                },
              ]
            }
          },
          computed: {
            todoLists() {
              return this.lists.filter(d => !d.isDone)
            },
            doneLists() {
              return this.lists.filter(d => d.isDone)
            }
          }
        }).mount("#app34");
      </script>
    </div>
    <div class="mx-3 my-5">
      <h2>元件的生命週期與更新機制</h2>
      <h3>生命週期與鉤子函式</h3>
      <div id="app35">{{ msg }}</div>
      <script>
        const vm35 = Vue.createApp({
          data() {
            return {
              msg: "生命週期與鉤子函式測試"
            }
          },
          created() {
            console.log("created");
          },
          mounted() {
            console.log("mounted")
          },
          unmounted() {
            console.log("unmounted")
          }
        });
        vm35.mount("#app35");
      </script>
      <h3>狀態的更新與畫面的同步</h3>
      <div id="app36">
        <p v-for="m in messages">{{ m }}</p>
        <input type="text" placeholder="輸入任意文字後按下Enter鍵" v-model.trim="msg" @keydown.enter="addToMessages">
      </div>
      <script>
        const vm36 = Vue.createApp({
          data() {
            return {
              msg: "",
              messages: ["Hello", "Vue.js", "is", "good"]
            }
          },
          methods: {
            addToMessages() {
              this.messages.push(this.msg);
              this.msg = "";

              // 等待畫面更新後再即時抓取元素屬性
              this.$nextTick(() => {
                // 透過this.$el取得實體綁定後的DOM
                const el = document.querySelector("#app36");
  
                // 將el.scrollTop指定為捲軸的高度el.scrollHeight
                el.scrollTop = el.scrollHeight;
              });
            }
          }
        });
        vm36.mount("#app36");
      </script>
    </div>
    <div class="mx-3 my-5">
      <h2>元件系統的特性</h2>
      <h3>元件的宣告與註冊</h3>
      <h4>全域元件</h4>
      <div id="app37">
        <h5>Root Instance</h5>

        <!-- 使用自訂元件 my-component -->
        <my-component></my-component>
        <my-component></my-component>
      </div>
      <script>
        const vm37 = Vue.createApp({});

        // 將元件註冊在vm37上
        vm37.component("my-component", {
          template: `<div>Hello Vue 3.x!<br>此處為 {{ msg }} 。</div>`,
          // 內部其餘選項與過去幾乎一樣
          data() {
            return {
              msg: "全域元件"
            }
          },
          props: {},
          computed: {},
          methods: {}
        });

        // 新增一個'根實體'，並掛載於#app37上
        vm37.mount("#app37");
      </script>
      <h4>區域元件</h4>
      <div id="app38">
        <h5>Root Instance</h5>

        <my-component></my-component>
        <my-component></my-component>
      </div>

      <script>
        const vm38 = Vue.createApp({
          components: {
            "my-component": {
              // 子元件的options
              template:  `<div>Hello Vue 3.x!<br>此處為 {{ msg }} 。</div>`,
              data() {
                return {
                  msg: "區域元件"
                }
              }
            }
          }
        })

        vm38.mount("#app38");
      </script>

      <h3>x-template封裝模板</h3>
      <div id="app39"></div>
      <script type="text/x-template" id="app39-x-template">
        <div class="bg-warning">
          <h5>這是一個x-template的標題</h5>
          <p>這是一個x-template的內文，內文內文內文。</p>
        </div>
      </script>
      <script>
        const vm39 = Vue.createApp({
          template: "<app39-x-template></app39-x-template>"
        });

        vm39.component("app39-x-template", {
          // 這裡的#app39-x-template對應id="app39-x-template"
          template: "#app39-x-template"
        });

        vm39.mount("#app39");
      </script>
    </div>
    <div class="mx-3 my-5">
      <h2>子元件的data必須是函式</h2>
      <div id="app40">
        <my-component></my-component>
        <my-component></my-component>
        <my-component></my-component>
        <my-component></my-component>
      </div>

      <script>
        const vm40 = Vue.createApp({});
        vm40.component("my-component", {
          template: `
            <div>
              <div>Count: {{ count }}</div>
              <button @click="count++">Plus</button>
            </div>
          `,
          data() {
            return {
              count: 0
            }
          }
        })
        vm40.mount("#app40");
      </script>
    </div>
    <div class="mx-3 my-5">
      <h2>元件之間的溝通傳遞</h2>
      <div id="app41">
        <!-- 這是外層元素的msg -->
        <p>{{ msg }}</p>

        <my-component :parent-msg="msg"></my-component>
      </div>
      <script>
        const vm41 = Vue.createApp({
          data() {
            return {
              msg: "這是外層元件的msg"
            }
          }
        });

        vm41.component("my-component", {
          template: `
            <div>
              <div>從props來的parentMsg ==> {{ parentMsg }}</div>
              <div>自己的msg ==> {{ innerMsg }}</div>
            </div>
          `,
          // 此props處，接受的對象為一個陣列
          props: ["parentMsg"],  // Vue會自動處理連字號（kebab-case）與駝峰式命名（camelCase）之間的轉換，此對應的是':parent-msg'
          data() {
            return {
              innerMsg: "這是內層元件的msg"
            }
          }
        });

        vm41.mount("#app41");
      </script>
    </div>
    <hr>
    <div class="mx-3 my-5">
      <h2>Props資料類型的驗證</h2>
      <div id="app42">
        <p>外層的msg：{{ msg }}</p>

        <h3>單純的資料傳遞</h3>
        <simple-component :props-number="msg"></simple-component>

        <h3>替props指定資料格式</h3>
        <assign-type-component :props-number="msg"></assign-type-component>

        <h3>加上<code>required: true</code>，若沒有props，Vue會在開發模式下顯示警告</h3>
        <required-assign-type-component :props-number="requiredMsg"></required-assign-type-component>
      </div>
      <script>
        const vm42 = Vue.createApp({
          data() {
            return {
              msg: 1233211234567
            }
          }
        });

        vm42.component("simple-component", {
          template: `
            <div>從外層接受到的的msg： {{ propsNumber }}</div>
          `,
          props: ["propsNumber"]
        });

        vm42.component("assign-type-component", {
          template: `
            <div>指定type後，接受到的msg： {{ propsNumber }}</div>
          `,
          // props除了陣列寫法，也可以寫成下方這樣
          props: {
            "propsNumber": {
              type: [Number, String]  // 若只需要一個type，可寫作'type: Number'
            }
          }
        })

        vm42.component("required-assign-type-component", {
          template: `
            <div>{{ propsNumber }}</div>
          `,
          props: {
            "propsNumber": {
              required: true  // 這裡還沒處理好，現在還沒達到要的效果
            }
          }
        })

        vm42.mount("#app42");
      </script>
    </div>
  </body>
</html>
